<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <button id="marco-button">Marco</button>
    frame1-inner.html
    <script src="/js/test-app.js"></script>
    <script>
      const remoteOrigin = "http://<%= domain %>:<%= port2 %>";
      const button = document.getElementById("marco-button");
      const fbConfig = framebus.initialize({
        origin: remoteOrigin,
      });
      button.onclick = function () {
        framebus.emit(
          fbConfig,
          "Marco",
          {
            message: "are you there?",
          },
          function (reply) {
            app.printToDOM(reply.message);
          }
        );
      };
    </script>
  </body>
</html>
