<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    frame2.html
    <a
      target="about:blank"
      href="http://<%= domain %>:<%= port2 %>/html/frame3.html"
      >Open popup</a
    >
    <script src="/js/test-app.js"></script>
    <script>
      var bus = new Braintree.Framebus();
      bus.on("Marco", function () {
        app.printToDOM('FAIL: [frame 2] received "Marco"');
      });
      bus.on("from-popup", function (data) {
        app.printToDOM('received "' + data.message + '" from popup');
      });
    </script>
  </body>
</html>
