name: "Unit Tests"

on:
  push:
    branches:
      - "main"
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches:
      - "*"

jobs:
  build:
    name: "Unit Tests"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
      - run: npm install
      - run: npm run lint
      - run: npm run test:unit
